---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Brog</title>
	</head>
	<body>
		<h1>私について</h1>
        <h2>今回はAstroフレームワークを使って高速で動くブログを作ります</h2>
	</body>
</html>
